/CalculadoraJava/CalculadoraSimple/nbproject/private/
/CalculadoraJava/CalculadoraSimple/build/
/ConversorDeUnidadesJava/ConversorUnidades/nbproject/private/
/ConversorDeUnidadesJava/ConversorUnidades/build/
/ConversorDeUnidadesJava/ConversorUnidades/dist/
/JuegoAdivinarNúmeroJava/adivinarNumero/nbproject/private/
/JuegoAdivinarNúmeroJava/adivinarNumero/build/
/GeneradorContraseñasJava/GeneradorContraseñas/nbproject/private/
/GeneradorContraseñasJava/GeneradorContraseñas/build/
/Proyectos Intermedios/Java/New Folder/listaDeTareas/nbproject/private/
/Proyectos Intermedios/Java/ListaDeTareasJava/nbproject/private/
/Proyectos Intermedios/Java/ListaDeTareasJava/build/
/Proyectos Intermedios/Java/JuegoDelAhorcadoJava/juegoDelAhorcado/nbproject/private/
/Proyectos Intermedios/Java/JuegoDelAhorcadoJava/juegoDelAhorcado/build/
/Proyectos Intermedios/Java/SimuladorDeTiendaJava/nbproject/private/
/Proyectos Intermedios/Java/SimuladorDeTiendaJava/build/
MusicaAleatoria/